<nav>
    <a href="https://github.com/nward16-uncc/" target="_blank">GitHub.com</a> |
    <a href="https://nward16-uncc.github.io" target="_blank">GitHub.io</a> |
    <a href="https://webpages.charlotte.edu/nward16" target="_blank">CLT Web Home Page</a> |
    <a href="https://nward16-uncc.github.io/itis3135" target="_blank">Course Page</a> |
    <a href="https://www.freecodecamp.org/nward16" target="_blank">Freecodecamp</a> |
    <a href="https://www.codecademy.com/profiles/nward16-uncc" target="_blank">Codecademy</a> |
    <a href="https://linkedin.com/in/nomudnolotus" target="_blank">LinkedIn</a>
</nav>
<p class="tagline">Page Built By <a href="wardforge.com/">Ward Forge</a> &copy;2025</p>