<h1>Nathaniel Ward - ITIS3135</h1>
<h1>⚛️ Nuclear Whale Technologies ⚛️</h1>
<nav>
    <ul>
        <a href="./" target="_blank">Home</a> |
        <a href="introduction.html" target="_blank">Introduction</a> |
        <a href="contract.html" target="_blank">Contract</a> | 
        <a href="website_evaluations.html" target="_blank">Website Evaluations</a> | 
        <a href="fccfsjs_outline.html" target="_blank">FCC FSJS Outline</a> | 
        <a href="intro_form.html" target="_blank">Introduction Form</a> | 
        <a href="project_overview.html" target="_blank">Project Overview</a> | 
        <a href="client/" target="_blank">Client Project</a>
    </ul>
    <ul>
        <a href="wardforge.com/" target="_blank">Firm Page</a> | 
        <a href="nuclearwhale/" target="_blank">Mascot Page</a> | 
        <a href="stuff/GLOOPY☺.htm" target="_blank">Crappy Webpage</a> | 
        <a href="hobby/" target="_blank">Hobby</a> | 
        <a href="https://github.com/nward16-uncc/itis3135-react">React3</a>
    </ul>
</nav>